extends layout

block content
  h1 Your Posts

  each post in posts
    h4= post.title
    p= post.body
    form(name="delete" action="/delete", method="post")
      input(type="hidden", name="id", value=post._id)
      input(type="submit", value="Delete")

  p Create a new post
  form(name="create", action="/create", method="get")
    input(type="submit", value="Create")

  br

  form(name="logout", action="/logout", method="post")
    input(type="submit", value="Log Out")
