extends layout

block content
  p Create a user
  form(name="new user", action="/createuser", method="post")
    label(for="username") Username:
    input(type="text", id="username", name="username")
    br
    label(for="password") Password:
    input(type="password", id="password", name="password")
    br
    input(type="submit", value="New User")

  p Log in
  form(name="login", action="/login", method="post")
    label(for="username") Username:
    input(type="text", id="username", name="username")
    br
    label(for="password") Password:
    input(type="password", id="password", name="password")
    br
    input(type="submit", value="Log In")
